<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>


<div th:each="item : ${list}">
    ID：<h1 th:text="${{item.id}}"></h1>
    文档名：<p><a th:text="${{item.documentName}}"></a></p>
   关键字：<p><a th:text="${{item.keyWord}}"></a></p>
</div>




</body>
</html>
